{% extends "base.html" %}

{% block title %}Software Testing{% endblock title%}



{% block body%}

<section id="subbanner">
  <div class="container">
    <div class="row">
      
      </div>
    </div>
  </div>
  <img src="{{url_for('static', filename='wave1.png')}}" class="bottom-img">
</section>



<section id="course-content">
  <div class="container my-4">
    <div class="row">
    <div class="col-md-12 text-center">
      <p class="promo-title">Software Testing</p>
        </div>
      <div class="col-md-12 ">
      
      <h4 >Introduction</h4>
        <p>Software Testing is a vital process without which no software release can happen. Testing is critical in making any software usable. Therefore, there will never be a dearth of career opportunities in Testing in the future. To help you build a career in Software Testing, Edureka provides certification courses for professionals who want to learn and gain insights into Manual and Automation testing.</p><br>

        <img class="img-responsive center-block" src="{{url_for('static', filename='cyber2.png')}}"><br>
        <h4 >About Course</h4>

        <p>We being Human beings can commit errors. Errors introduced while developing Software Application can have impact on its functionality. Sometimes it may impact Software Application so severely that it can break the whole Software making it unfit for use. So assuming that Software Development process may introduce such errors, it becomes essential that all such errors whether major or minor are caught and removed well in advance before deploying the Software Application in production environment. “Software Testing” is a process which finds such errors which are called as bugs and makes the Software bug free. Hence Software Testing plays a very importance role, in improving the quality, reliability & performance of the system. A Trained Testing Engineer is required to fully test the System to ensure that it functions properly and meets the business needs.</p>


        <p>Various Job Oriented Software Testing Course offered by Profound Edutech :</p>


        <ul class="list-group">
        <li class="list-group-item">Diploma in Software Testing ( DST )</li>
        <li class="list-group-item">Advanced Diploma in Software Testing ( ADST )</li>
        <li class="list-group-item">Advanced++ Diploma in Software Testing ( ADST++ )</li>
        <li class="list-group-item">Software Development Engineer in Test( SDET )</li>

        </ul><br>
        
        

        
      </div>
    </div>
  </div>
</section>

{% endblock body%}